    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('user', username=post.author.username) }}">
                    <img src="{{ post.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                <a href="{{ url_for('user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
                <br>
                {{ post.body }}
            </td>
        </tr>

    {% if post.author != current_user %}
    <tr>
        <td class="text-center">
            {% if current_user.is_following(post.author) %}
            <a href="{{ url_for('unfollow', username=post.author.username) }}">Unfollow</a>
            {% elif not current_user.is_following(post.author) %}
            <a href="{{ url_for('follow', username=post.author.username) }}">Follow</a>
            {% endif %}
        </td>
    </tr>
    {% endif %}
    
</table>